.box1{
  /*横幅を指定*/
  width:300px;
  height:300px;
  /*背景色を指定(カラーコード指定)*/
  background-color:#0f0;
  margin-left:30px;
  padding-top:30px;
}

.box2{
  width:100px;
  height:100px;
  background-color:#f0f;
  /*枠線*/
  border:0px solid black;
  border-bottom-width:5px;
}